<!DOCTYPE html>
<html>
<head>
  <title>Biovision poll</title>
  <%= stylesheet_link_tag    "biovision/poll/application", media: "all" %>
  <%= javascript_include_tag "biovision/poll/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
